.trust-wrapper {
    margin-top: 80px;
}

.trust-wrapper h2{
    text-align: center;
    font-size: 36px;

}

.trust-trust {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.disclaimer {
    background-color: #FFE5D1;
    width: 95%;
    height: 142px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: -55px;
    margin-left: -20px;
}

.disclaimer p {
    margin-top: -60px;
    padding-left: 60px;
    
}

.title img {
    width: 24px;
    height: 24px;
}

.title h4 {
    margin: 0;
    margin-left: -75px;
    font-size: 18px;
}
