.navBar {
  background-color: #ebefff;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 80px;        
  padding: 0 40px;    
}

.logo {
  display: flex;
  gap: 10px;
}

.logo img {
  height: 20px; 
  width: auto;
}

.navList {
  list-style: none;
  display: flex;
  gap: 60px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0;      
  padding: 0;    
}

a {
  text-decoration: none;
  color: #163ED1;
}

.btn {
  display: flex;
  gap: 15px;
}

.signin-btn {
  background-color: transparent;
  border: 2px solid blue;
  color: blue;
  font-size: 16px;
  font-weight: 500;
  border-radius: 15px;
  padding: 15px 20px; 
  cursor: pointer;
}

.create-btn {
  background-color: #002CCC;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 15px;
  border: none;
  padding: 15px 20px; 
  cursor: pointer;
}
