#root {

  width: 100%;
  min-height: 100vh;
  padding: 0;
  gap: 1.25rem;
  

}

:root {
  /* Default Light Mode Styles */
  --background: #ffffff;
  --text: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Styles */
    --background: #1a1a1a;
    --text: #ffffff;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  overflow-x: hidden;

}


@font-face {
  font-family: 'Montserrat Subrayada';
  src: url("../assets/fonts/MontserratSubrayada-Regular.ttf") format("truetype");
  font-weight: 700
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600
}



html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  /* Ensures container fills viewport */
}