.search-card {
  background-color: #ebefff;
  width: 440px;
  height: 290px;
  border-radius: 20px;
  
}

.search-icon {
  margin: 0px;
  padding-top: 40px;
  padding-left: 40px;
}

.search-card h3 {
  margin-top: -30px;
  padding: 0;
  padding-left: 40px;
}

.search-card p{
    margin: 0;
    padding: 0;
}
